html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;

	vertical-align: baseline;
}
html{
	height: 100%;
}
/* HTML5 display-role reset for older browsers */
body {
	line-height: 1;
	height: 100%;
	background: #ffffff;
	width: 100%;
}
*{

	margin: 0;
	padding: 0;
	outline: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
.clearfix:before, 
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after{
	clear: both;
}
.wraper{
	width: 100%;
}
.container{

	margin: 0 auto;
}
.logo, .log_pic{
	position: relative;
	max-width: 125px;
	max-height: 54px;
	margin: 2px 0 2px 30px;


}

#header{
	top: 10px;
	left: 0;
	right: 0;
	width: 100%;
	padding: 25px 0;
	height: 100px;

}
.logo{
	float: left;





}
.nav{
	float: right;
	padding-top: 10px;
	height: 100px;
	width: 50%;
	min-width: 100px;



}
.nav li{
	float: left;


}

.nav li:last-child{
	margin-right: 0;
	padding-right: 0;
}
.nav a{
	text-transform: capitalize;
	text-decoration: none;
	font: 15px PTSansRegular,sans-serif;
	color: #7c8797;
}
.nav a:hover{
	 color: #49cbcd;
}
.nav li :hover {
	background-color: #f8f9fb;
	border-bottom: 3px solid #49cbcd;

}
.nav_menu{
	padding: 36px 7px 44px 15px;
}
/*----------baner------------*/
#baner{
	height: 565px;
	background: #bde7e9 url(img/baner.jpg) no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	padding-top: 129px;
	color: #ffffff;

}
.main_heading{
	font: 63px/63px OpenSansSemiBold,sans-serif;

}
#baner_header{
	padding: 0 0 0 70px;
	margin-bottom: 35px;

}
.bn_text{
	margin-bottom: 74px;
}

.bn_text p{
	font: 23px/23px OpenSansRegular, sans-serif;
}

.ghost-button{
	display: inline-block;
	width: 225px;
	height: 62px;
	padding-top: 15px;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 5px;
	text-align: center;
	outline: none;
	text-decoration: none;
	transition: background-color 0.2s ease-out,
	color 0.2s ease-out;
	font: 26px/26px OpenSansSemiBold,sans-serif;

}
.sliderArrows{
	position: relative;
}



.sliderArrows .prev{
	outline: none;
	z-index: 50;
	position: absolute;
	bottom: 65px;
	left: 30px;
	background: url(img/arroone.png) no-repeat;
	width: 60px;
	height: 70px;
}


.sliderArrows .next{
	 display: block;
	 outline: none;
	 z-index: 50;
	bottom: 65px;
	position: absolute;
	right: 30px;
	background: url(img/arroright.png) no-repeat;
	width: 60px;
	height: 70px;
}

/*------------------Theteam----------------*/
#Theteam{
	padding: 111px 0 110px;
	text-align: center;
}
h2.title{
	font:42px OpenSansRegular, sans-serif;
	text-transform: capitalize;
	color: #4e525d;
}
.Theteamwrap{
	padding-top: 127px;
}

.Theteam_item h5{
	font:22px/22px OpenSansRegular, sans-serif;
	color: #4e525d;
	text-transform: capitalize;
	margin-bottom: 5px;
}
.Theteam_item h6{
	font:14px/16px OpenSansRegular, sans-serif;
	color: #4e525d;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.Theteam_item{
	float: left;
	width: 25%;
	padding: 260px 40px 0;
}
.Theteam_item p{
	font:14px OpenSansRegular, sans-serif;
	color: #4e525d;
	line-height: 20px;
}

.photo_one{
	background: url("img/ser/Ellipse1.png")no-repeat center top;
}
.photo_two{
	background: url("img/ser/Ellipse2.png")no-repeat center top;
}
.photo_three{
	background: url("img/ser/Ellipse1.png")no-repeat center top;
}
.photo_four{
	background: url(img/ser/Ellipse1.png)no-repeat center top;
}

/*--------------plants--------------------*/
.plants{
	background: #f1f1f1;
}
.plants_item{
	float: left;
	width: 33.3%;
	padding: 100px 35px 100px 35px;
}
.plants_head {
	display: block;
	text-align: center;
	border-bottom: 1px solid #dddddd;
}
.plants_title {
	color: #ffffff;
	display: block;
	font:26px OpenSansRegular, sans-serif;
	text-transform: capitalize;
	background: #485460;
	height: 73px;
	padding: 20px 0 20px 0;
}


.plants_price{
	color: #485460;
	display: block;
	font:20px OpenSansRegular, sans-serif;
	text-transform: capitalize;
	background: #f8f9fb;
	height: 59px;
	padding: 20px 0 30px 0;
}

.plants_desc {

	text-align: center;
	background: #ffffff;

}
.plants_desc p{
	border-bottom: 1px solid #ecf0f1;
	padding-top: 15px;
	padding-bottom: 20px;
	color: #bec1c5;
	font:14px OpenSansRegular, sans-serif;

}

.plants_link{
display: block;
padding: 20px 0;
text-align: center;
background: #f8f9fb;
}

.plants_button {
	background: #788492;
	color: #ffffff;
	display: inline-block;
	font:17px OpenSansSemiBold, sans-serif;
	line-height: 30px;
	text-decoration: none;
	padding: 12px 50px;
	border-radius: 5px;

}
.plants_ch{
	background-color:#49cbcd;
}

/*----------------Contact--------------------*!*/
#contactus{
	background: #000000 url(img/contact/banerphoto.jpg) no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	padding-top: 115px;
	height: 685px;
	color: #ffffff;
}

h2.title_contact {
	font: 42px OpenSansRegular, sans-serif;
	text-transform: capitalize;
	color: #ffffff;
	padding-bottom: 116px;
}
.contactdesk{
float: left;
width: 50%;

}
p#get{

	font:24px/24px OpenSansRegular, sans-serif;
	color: #ffffff;
	text-align: left;

}
.heighttext p{
	font:14px OpenSansRegular, sans-serif;
	padding: 0 70px 30px 70px;
	vertical-align: middle;
	text-align: left;
}
#social_logo{
	/*display: inline-block;*/
	/*position: relative;*/
	/*right: 180px;*/
	margin-bottom: 10px;
	margin-left: 50px;


}

#social_logo li{
	float: left;
	padding: 0 16px 0 16px;

}

.social_ico a{
	vertical-align: middle;
}

.info {
	display: block;
	margin-top: 100px;

}
.info p{
	font: 14px MyriadProRegular, sans-serif;
	color: #bface2;
	vertical-align: middle;
	text-align: left;
	padding: 0 70px 13px 70px;
}
#contact_form{
	float: right;
	width: 50%;
	padding-right: 37px;
}
#messege .left{
	float: left;
	width: 47%;
}
#messege .right{
	float: right;
	width: 47%;
}
#messege input[type="text"],
#messege textarea{
	width: 100%;
	padding: 17px 20px;
	margin-bottom: 20px;
	background: #ffffff;
	box-shadow: none;
	font: 16px/16px OpenSansRegular, sans-serif;
	color: #222;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}
#messege input[type="text"]{
	height: 44px;
	border: none;
}
#messege textarea{
	height: 168px;
	border: none;
	resize: none;
}
::-webkit-input-placeholder{
	text-transform: capitalize;
	font: 16px/16px OpenSansRegular, sans-serif;
	color: #c1c1c1;
}
::-moz-placeholder{
	text-transform: capitalize;
	font: 16px/16px OpenSansRegular, sans-serif;
	color: #c1c1c1;
}
:-ms-input-placeholder{
	text-transform: capitalize;
	font: 16px/16px OpenSansRegular, sans-serif;
	color: #c1c1c1;
}
#messege .bntsub{
	float: right;
	background-color: #49cbcd;
	border: none;
	color: #ffffff;
	height: 48px;
	font: 22px/22px OpenSansRegular, sans-serif;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	width: 170px;
	text-align: center;
	cursor: pointer;

}
.error-holder{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

p#error-name, p#error-email, p#error-sms, p#failed{
	font: 14px OpenSansRegular, sans-serif;
	font-weight: 300;
	line-height: 20px;
	color: #ff0000;
	padding: 0;
	margin: 0 0 10px 0;
	display: none;
}
